@@ -0,0 +1,29 @@
﻿@using WebApp1.Models 
@model List<ProductoCLS> 
@{
    ViewBag.Title = "Productos";
}

<h1>Lista de productos</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].IdProducto)</td>
            <td>@Html.LabelFor(p => Model[0].Descripcion)</td>
            <td>@Html.LabelFor(p => Model[0].Precio)</td>
            <td>@Html.LabelFor(p => Model[0].Inventario)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>@item.IdProducto</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>
                        <td>@item.Inventario</td>

                    </tr>
        }
    </tbody>
</table>