@model Tienda.Models.ClienteCLS
@{ViewBag.Title = "Agregar clientes";}
<h1>@ViewBag.Title</h1>
<div class="container container-fluid">
        @using (Html.BeginForm("Agregar", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Nombre,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Nombre, new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Nombre,null,new{@class="text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Apellidos,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Apellidos, new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Apellidos,null,new{@class="text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Empresa,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Empresa, new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Empresa,null,new{@class="text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Puesto,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Puesto,new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Puesto,null,new{@class="text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Cp,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Cp,new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Cp,null,new{@class="text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Provincia,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Provincia,new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Provincia,null,new{@class="text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(p => p.Telefono,new {@class="form-label"})*
                    @Html.TextBoxFor(p=> p.Telefono,new {@class="form-control"})
                    @Html.ValidationMessageFor(p=> p.Telefono,null,new{@class="text-danger"})
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-dark">Enviar</button>
                </div>
            </div>
        }
</div>