@page
@model WebApp1.Models.EmpleadoCLS


@{
    ViewBag.Title = "Agregar empleado";
    List<SelectListItem> listaTC = (List<SelectListItem>) ViewBag.listaTC;
    List<SelectListItem> listaSexo = (List<SelectListItem>) ViewBag.listaSexo;
    List<SelectListItem> listaTU = (List<SelectListItem>) ViewBag.listaTU;
}

<h1>@ViewBag.Title</h1>
@try{
<div class="row">
    <div class="col">
        @using (Html.BeginForm("Editar","Empleado",FormMethod.Post))
        {
            <div>
                @Html.LabelFor(p => p.IdEmpleado , new {@class="form-label"})
                @Html.TextBoxFor(p => p.IdEmpleado, new {@class="form-control",disabled=true})
                @Html.ValidationMessageFor(p => Model.Nombre)
            </div>
            <div>
                @Html.LabelFor(p => p.Nombre , new {@class="form-label"})
                @Html.TextBoxFor(p => p.Nombre, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.Nombre)
            </div>
            <div>
                @Html.LabelFor(p => p.APaterno , new {@class="form-label"})
                @Html.TextBoxFor(p => p.APaterno, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.APaterno)
            </div>
            <div>
                @Html.LabelFor(p => p.AMaterno , new {@class="form-label"})
                @Html.TextBoxFor(p => p.AMaterno, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.AMaterno)
            </div>
            <div>
                @Html.LabelFor(p => p.Email , new {@class="form-label"})
                @Html.TextBoxFor(p => p.Email, new {@class="form-control",type = "email"})
                @Html.ValidationMessageFor(p => Model.Email)
            </div>
            <div>
                @Html.LabelFor(p => p.Direccion , new {@class="form-label"})
                @Html.TextBoxFor(p => p.Direccion, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.Direccion)
            </div>

            <div>
                @Html.LabelFor(p => p.Sexo , new {@class="form-label"})
                @Html.DropDownListFor(p => p.Sexo, listaSexo, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.Sexo)
            </div>
            <div>
                @Html.LabelFor(p => p.Telefono , new {@class="form-label"})
                @Html.TextBoxFor(p => p.Telefono, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.Telefono)
            </div>
            <div>
                @Html.LabelFor(p => p.Sueldo , new {@class="form-label"})
                @Html.TextBoxFor(p => p.Sueldo, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.Sueldo)
            </div>
            <div>
                @Html.LabelFor(p => p.FechaContrato , new {@class="form-label"})
                @Html.TextBoxFor(p => p.FechaContrato, new {@class="form-control",type="date"})
                @Html.ValidationMessageFor(p => Model.FechaContrato)
            </div>
            <div>
                @Html.LabelFor(p => p.TipoContrato , new {@class="form-label"})
                @Html.DropDownListFor(p => p.TipoContrato,listaTC, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.TipoContrato)
            </div>
            <div>
                @Html.LabelFor(p => p.TipoUsuario , new {@class="form-label"})
                @Html.DropDownListFor(p => p.TipoUsuario,listaTU, new {@class="form-control"})
                @Html.ValidationMessageFor(p => Model.TipoUsuario)
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Guardar</button>
            </div>
        }
    </div>
</div>
}
catch (Exception e)
{
    
    <p>@e.Message</p>
}
