@using WebApp1.Models
@model List<EmpleadoCLS>
@{
    ViewData["Title"] = "Lista Empleado";
}

<h1>@ViewData["Title"]</h1>
<a asp-controller="Empleado" asp-action="Agregar" class="btn btn-dark">Agregar Empleado</a>
<table class="table table-darkaz">
    <thead>
        <tr>
            @*Se reprenta el nombre de cada campo, se muestra el nombre que pusimos en la clase ClienteCLS con Data Annotation para cada uno*@
            <td>@Html.LabelFor(p => Model[0].IdEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].Nombre)</td>
            <td>@Html.LabelFor(p => Model[0].APaterno)</td>
            <td>@Html.LabelFor(p => Model[0].AMaterno)</td>
            <td>@Html.LabelFor(p => Model[0].Email)</td>
            <td>@Html.LabelFor(p => Model[0].Direccion)</td>
            <td>@Html.LabelFor(p => Model[0].Sexo)</td>
            <td>@Html.LabelFor(p => Model[0].Telefono)</td>
            <td>@Html.LabelFor(p => Model[0].TipoContrato)</td>            
            <td>@Html.LabelFor(p => Model[0].FechaContrato)</td>
            <td>@Html.LabelFor(p => Model[0].Sueldo)</td>            
            <td>@Html.LabelFor(p => Model[0].TipoUsuario)</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) //Mostramos los datos de cada cliente con un foreach
        {
            <tr>
                <td>@item.IdEmpleado</td>
                <td>@item.Nombre</td>
                <td>@item.APaterno</td>
                <td>@item.AMaterno</td>
                <td>@item.Email</td>
                <td>@item.Direccion</td>
                <td>@item.NombreSexo</td>
                <td>@item.Telefono</td>
                <td>@item.NombreTipoContrato</td>
                <td>@item.FechaContrato</td>
                <td>@item.Sueldo</td>
                <td>@item.NombreTipoUsuario</td>
            </tr>
        }
    </tbody>
</table>