@using WebApp1.Models
@model List<Empleado>
@{
    ViewData["Title"] = "Lista Empleado";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-darkaz">
    <thead>
        <tr>
            @*Se reprenta el nombre de cada campo, se muestra el nombre que pusimos en la clase ClienteCLS con Data Annotation para cada uno*@
            <td>@Html.LabelFor(p => Model[0].IdEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].Nombre)</td>
            <td>@Html.LabelFor(p => Model[0].APaterno)</td>
            <td>@Html.LabelFor(p => Model[0].AMaterno)</td>
            <td>@Html.LabelFor(p => Model[0].Email)</td>
            <td>@Html.LabelFor(p => Model[0].Direccion)</td>
            @* <td>@Html.LabelFor(p => Model[0].Sexo)</td> *@
            <td>@Html.LabelFor(p => Model[0].Telefono)</td>
            <td>@Html.LabelFor(p => Model[0].FechaContrato)</td>
            <td>@Html.LabelFor(p => Model[0].Sueldo)</td>            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) //Mostramos los datos de cada cliente con un foreach
        {
            <tr>
                <td>@item.IdEmpleado</td>
                <td>@item.Nombre</td>
                <td>@item.APaterno</td>
                <td>@item.AMaterno</td>
                <td>@item.Email</td>
                <td>@item.Direccion</td>
                @* <td>@item.Sexo</td> *@
                <td>@item.Telefono</td>
                <td>@item.FechaContrato</td>
                <td>@item.Sueldo</td>
            </tr>
        }
    </tbody>
</table>