@using Tienda.Models
@model List<ArticuloCLS>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Title</h1>
<table class="table">
    <thead>
        <th class="text-center">@Html.LabelFor(p => Model[0].CodArticulo)</th>
        <th class="text-center">@Html.LabelFor(p => Model[0].NombreArticulo)</th>
        <th class="text-center">@Html.LabelFor(p => Model[0].Descripcion)</th>
        <th class="text-center">@Html.LabelFor(p => Model[0].PrecioUnitario)</th>
        <th class="text-center">@Html.LabelFor(p => Model[0].Stock)</th>
        <th class="text-center">@Html.LabelFor(p => Model[0].StockExtra)</th>
        <th class="text-center">@Html.LabelFor(p => Model[0].Imagen)</th>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.CodArticulo</td>
                <td class="text-center">@item.NombreArticulo</td>
                <td class="text-center">@item.Descripcion</td>
                <td class="text-center">@item.PrecioUnitario</td>
                <td class="text-center">@item.Stock</td>
                <td class="text-center">@item.StockExtra</td>
                <img src="@item.Imagen"/>
            </tr>
        }
    </tbody>
</table>