@using WebApp1.Models
@model List<ClienteCLS>
@{
    ViewBag.Title = "Lista Clientes";
}

<h2>@ViewBag.Title</h2>
<a asp-controller="Cliente" asp-action="Agregar" class="btn btn-dark">Agregar Cliente</a>
<table class="table table-bodered table-dark table-hover    ">
    <thead>
        <tr>
            <th>@Html.LabelFor(p => Model[0].IdCliente)</th>
            <th>@Html.LabelFor(p => Model[0].Nombre)</th>
            <th>@Html.LabelFor(p => Model[0].APaterno)</th>
            <th>@Html.LabelFor(p => Model[0].AMaterno)</th>
            <th>@Html.LabelFor(p => Model[0].Direccion)</th>
            <th>@Html.LabelFor(p => Model[0].Email)</th>
            <th>@Html.LabelFor(p => Model[0].Sexo)</th>
            <th>@Html.LabelFor(p => Model[0].Telefono)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IdCliente</td>
            <td>@item.Nombre</td>
            <td>@item.APaterno</td>
            <td>@item.AMaterno</td>
            <td>@item.Direccion</td>
            <td>@item.Email</td>
            <td>@item.Descripcion</td>
            <td>@item.Telefono</td>
        </tr>
        }
    </tbody>
</table>