@* Pedimos el namespace de Models*@
@using WebApp1.Models 
@* Recibimos el modelo desde el controlador*@
@model List<ClienteCLS> 
@{
    ViewBag.Title = "Clientes";
}

<h1>Lista de clientes</h1>
@*Codigo HTML para mostrar una tabla para la lista de clientes*@
<table class="table table-dark">
    <thead>
        <tr>
            @*Se reprenta el nombre de cada campo, se muestra el nombre que pusimos en la clase ClienteCLS con Data Annotation para cada uno*@
            <td>@Html.LabelFor(p => Model[0].IdCliente)</td>
            <td>@Html.LabelFor(p => Model[0].Nombre)</td>
            <td>@Html.LabelFor(p => Model[0].APaterno)</td>
            <td>@Html.LabelFor(p => Model[0].AMaterno)</td>
            <td>@Html.LabelFor(p => Model[0].Email)</td>
            <td>@Html.LabelFor(p => Model[0].Direccion)</td>
            @* <td>@Html.LabelFor(p => Model[0].Sexo)</td> *@
            <td>@Html.LabelFor(p => Model[0].Telefono)</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) //Mostramos los datos de cada cliente con un foreach
        {
            <tr>
                <td>@item.IdCliente</td>
                <td>@item.Nombre</td>
                <td>@item.APaterno</td>
                <td>@item.AMaterno</td>
                <td>@item.Email</td>
                <td>@item.Direccion</td>
                @* <td>@item.Sexo</td> *@
                <td>@item.Telefono</td>
            </tr>
        }
    </tbody>
</table>